[metadata]
name = {{ packageName }}
version = {{ packageVersion }}
author = {{ packageAuthor }}
author_email = {{ packageAuthorEmail }}
description = {{ packageDescription }}
url = {{ packageUrl }}
project_urls =
    Bug Tracker = {{ packageBugTrackerUrl }}
classifiers =
    Programming Language :: Python :: 3
    License :: OSI Approved :: Apache Software License
    Operating System :: OS Independent